
<div id="container-exp">
	<div class="instructions well" style="text-align: center">
		<h2>Watch the following video carefully</h2>
		<div id="stim"></div>
        <!-- <h2>Which video looks more <b>realistic</b>?</h2> -->
        <h2>Which video looks more <b>similar</b> to the video show above?</h2>
        <div id="prompts1" style="margin: 5px"></div>
        <div id="prompts" style="margin: 5px"></div>
        <div class="btn-group btn-group-justified">
            <button type="button" class="btn btn-default" style="width: 33%" id="choice1">
            </button>
            <button type="button" class="btn btn-default" style="width: 33%" id="choice2">
            </button>
            <button type="button" class="btn btn-default" style="width: 33%" id="choice3">
            </button>
        </div>
		<div id="choices" style="margin: 10px"></div>
		<div id="query"></div>
	</div>

	<hr />

    <div class="nav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
</div>
