<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">

	    <p>
		    Welcome to our HIT, we are delighted to have you participating.
	    </p>
        
        <h4> Task: </h4>
	    <ul>
            <li><b style="color:red">Please read carefully, the instructions have been updated!</b> It's a new task if you have already done a task for us before.</li>
            <li>We are analyzing various computer (automatically) generated videos and trying to understand which one is better.</li>
            <li>We intend to show you <b>an original</b> video and two side-by-side comparisons of different methods and you need to choose which one looks more <b>similar</b> to the original video.</li>
            <li>Chosen videos should look <b>similar</b> to the one shown above!</li>
	    </ul>


		<div id="stim">
            <video autoplay loop width="500" src="/static/experiments/intro_gt.mp4"></video>
        </div>
        <h2>Which video looks more <b>similar</b> to the video show above?</h2>        
        <div class="btn-group btn-group-justified">
            <button type="button" class="btn btn-default" style="width: 50%" id="choice1">
                <video autoplay loop  width="500" src="/static/experiments/intro_vil.mp4"></video>
            </button>
            <button type="button" class="btn btn-default" style="width: 50%" id="choice2">
                <video autoplay loop  width="500" src="/static/experiments/intro_loop.mp4"></video>
            </button>
        </div>

        <h4>Rules: </h4>
	    <ul>
            <li>Every page that you will be shown will have one video at top and two videos at the bottom like ones show above, you can click on one of the two videos at the bottom to select it.</li>
            <li>You will be shown <b>43</b> such pages and every page will roughly take you 10-30 seconds of analysis.</li>
            <li>Once you selected your preferred video, click the green Next button on bottom right of every page.</li>
            <li>The green Next button will not be activated for the first few seconds, please take this time to look at the video.</li>
            <li>You will be paid <b>$4.30</b> in total compensation.</li>
            <li>Please observe the videos carefully as your responses are really important to us! Thank you!</li>
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
